<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="adminStyles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button class="btn btn-dark" id="sidebarToggle"><i class="fas fa-bars"></i></button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Logged in as <span id="fullname"></span></a>
                <button type="button" class="btn btn-default btn-sm" id="logoutButton">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </button>
            </li>
        </ul>
    </div>
</nav>
<div class="d-flex">
    <div class="sidebar" id="sidebar">
        <ul class="list-unstyled">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#" id="role-specific-link">Admin</a></li>
            <li><a href="#" id="usersButton">Users</a></li>

            <li><a href="addTask.html" id="tasksButton" onclick="window.location.href='addTask.html'">Görevler</a></li>
        </ul>
    </div>
    <div class="content p-4 flex-grow-1">
        <h1 id="dashboard-title">Dashboard</h1>
        <p>Admin paneline hoş geldiniz!</p>
        <div class="page-list">
            <h2>Page List</h2>
            <button class="btn btn-primary mb-3" onclick="window.location.href='add.html'">+ New</button>


            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="userTableBody">
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.fullname}"></td>
                    <td th:text="${user.mail}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.createdDate}"></td>
                    <td th:text="${user.updatedDate}"></td>
                    <td>
                        <a class="btn btn-primary" onclick="redirectToTaskPage(${user.id})">Task</a>
                        <a class="btn btn-sm btn-warning" th:href="@{/api/edit/{id}(id=${user.id})}">Edit</a>
                        <a class="btn btn-sm btn-danger" href="#" th:onclick="'deleteUser(' + ${user.id} + '); return false;'">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="adminScript.js"></script>
</body>
</html>
